[33mcommit b1f2a6917211c66fe4a585a22416fce5fcec1c45[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mmaster[m[33m)[m
Author: Abdulmajid <majemurad@gmail.com>
Date:   Sat Jul 6 20:27:53 2024 +0300

    2nd version

[33mcommit 5cc425cd6e2e5e696e02e8606ed046426e882411[m[33m ([m[1;31morigin/master[m[33m)[m
Author: Abdulmajid <majemurad@gmail.com>
Date:   Sat Jul 6 20:17:34 2024 +0300

    1st version
